* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Protest Revolution", sans-serif;
    background-color: #FAF3E0;
}
.board {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
    width: 90%;
    max-width: 600px;
}
img {
    width: calc(25% - 15px);
    max-width: 100px;
    height: auto;
    border: 3px solid transparent;
    border-radius: 15px;
    transition: transform 0.2s;
    cursor: pointer;
}
img:hover {
    transform: scale(1.1);
}

.certa {
    border: 3px solid #00FF00;
}

button {
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}
button:hover {
    scale: 1.1;
}

@media (max-width: 768px) {
    img {
        width: calc(33.33% - 10px);
    }

    .board {
        gap: 10px;
    }
}

@media (max-width: 480px) {
    img {
        width: calc(50% - 10px);
    }

    .board {
        gap: 5px;
    }
}